

<nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center justify-content-between" href="/" style="margin-right: 4px;">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                <img src="https://firebasestorage.googleapis.com/v0/b/vental-event-albums.appspot.com/o/assets%2Ffavicon%2Fandroid-chrome-192x192.png?alt=media" style="height: 3vh;">
            </span>
            <span>VentAl</span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-6"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-6" class="collapse navbar-collapse flex-grow-0 order-md-first">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="">{{ navTitle }}</a></li>
                <li class="nav-item"></li>
            </ul>
            <div class="d-md-none my-2"><hr class="text-light">
                <span id="username"><a href="/dashboard" class="text-light text-decoration-none">{{ username }}</a></span>
                <br><br>
                <a class="btn btn-primary" role="button" href="/accounts/logout"><i class="fa-solid fa-right-from-bracket px-2"></i>Logout</a>
            </div>
        </div>
        <div class="d-none d-md-block"><span id="username"><a href="/dashboard" class="text-light text-decoration-none">{{ username }}</a></span><a class="btn btn-primary" role="button" href="/accounts/logout"><i class="fa-solid fa-right-from-bracket px-2"></i>Logout</a></div>
    </div>
</nav>